@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
    /* background-image: url('theme2.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; */
    background-color:#181819;
    margin: 0px;

}

#nav{

    width: 100%;
    height: 50px;
    margin: 3% auto;
    padding: 10px;

    
}

.topnav {

    background-color: none;
    width: 80%;
    left: 10%;
    height: 50px;
    position: absolute;
    
  }
  
.link_decorate{
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
  
a:hover{

    color: #B22222;
}
  

.home{
    left: 90%;
    display: block;
    position: absolute;
    bottom: -5px;
    height: 50px;
    width: 70px;
    opacity: 100% !important;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 5px;
}


.logo{
    left: 0%;
    display: block;
    position: absolute;
    bottom: -100px;
}

.page_element_1{
    left: 35%;
    display: block;
    position: absolute;
    font-size: 25px;
    width: 70px;
    height: 30px;
    background-color: #181819;
    text-align: center;
    border-radius: 5px;
    color: aliceblue;
    opacity: 82%;
} 


.page_element_2{
    left: 50%;
    display: block;
    position: absolute;
    font-size: 25px;
    width: 70px;
    height: 30px;
    background-color: #181819;
    text-align: center;
    border-radius: 5px;
    color: aliceblue;
    opacity: 82%;
} 

.account_log{
    left: 100%;
    display: block;
    position: absolute;
    bottom: -5px;
    height: 50px;
    width: 70px;
    opacity: 100% !important;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 5px;
} 




#wrapper{

    width: 100%;
    margin: 10px auto;
    height: auto;
}

div {
    display: block;
}

.menu{
    width: 100%;
    height: 200px;
    font-family: 'Open Sans';
    position: relative;
    top: 100px;
    background-color: #181819;
    opacity: 82%;
}


.photos{
    width: 100%;
    height: auto;
    font-family: 'Open Sans';
    position: relative;
    background-color: #181819;
    opacity: 82%;
    display: flex;
    flex-wrap: wrap;
} 

 .image{
    background-color: blue;
    height: 400px;
    width: 600px;
    margin: 18px;
    object-fit: cover;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 16px;
    background-color: #B22222;
}
  
::-webkit-scrollbar-track {
    border-radius: 100px;
}
  
::-webkit-scrollbar-thumb {
    background-color: 	aliceblue;
    border-radius: 100px;
}
