@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
    /* background-image: url('theme2.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; */
    background-color:#181819;
    margin: 0px;

}

#nav{

    width: 100%;
    height: 50px;
    margin: 3% auto;
    padding: 10px;

    
}

.topnav {

    background-color: none;
    width: 80%;
    left: 10%;
    height: 50px;
    position: absolute;
    
  }
  
.link_decorate{
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
  
a:hover{

    color: #B22222;
}
  

.home{
    left: 90%;
    display: block;
    position: absolute;
    bottom: -5px;
    height: 50px;
    width: 70px;
    opacity: 100% !important;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 5px;
}


.logo{
    left: 0%;
    display: block;
    position: absolute;
    bottom: -100px;
}

.page_element_1{
    left: 35%;
    display: block;
    position: absolute;
    font-size: 25px;
    width: 70px;
    height: 30px;
    background-color: #181819;
    text-align: center;
    border-radius: 5px;
    color: aliceblue;
    opacity: 82%;
} 


.page_element_2{
    left: 50%;
    display: block;
    position: absolute;
    font-size: 25px;
    width: 70px;
    height: 30px;
    background-color: #181819;
    text-align: center;
    border-radius: 5px;
    color: aliceblue;
    opacity: 82%;
} 

.account_log{
    left: 100%;
    display: block;
    position: absolute;
    bottom: -5px;
    height: 50px;
    width: 70px;
    opacity: 100% !important;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 5px;
} 




#wrapper{

    width: 100%;
    margin: 10px auto;
    height: auto;
}

div {
    display: block;
}

.menu{
    width: 100%;
    height: 200px;
    font-family: 'Open Sans';
    position: relative;
    top: 100px;
    background-color: #181819;
    opacity: 82%;
}


.photos{
    width: 100%;
    height: auto;
    font-family: 'Open Sans';
    position: relative;
    background-color: #181819;
    opacity: 82%;
    display: flex;
    flex-wrap: wrap;
} 

 .image{
    background-color: blue;
    height: 400px;
    width: 600px;
    margin: 18px;
    object-fit: cover;
    border-radius: 10px;
}


/* .image_big{
    background-color: blue;
    height: 400px;
    width: 600px;
    margin: 5px;
    object-fit: cover;
} */



/* .image-grid{
    top: 100px;
    --gap: 24px;
    --num-cols: 4;
    --row-height: 300px;
  
    box-sizing: border-box;
    padding: var(--gap);
  
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}
  
.image-grid > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.image-grid-col-2{
    grid-column: span 2;
}
  
.image-grid-row-2{
    grid-row: span 2;
}
  
  /* Anything udner 1024px 
@media screen and (max-width: 1024px){
    .image-grid {
      --num-cols: 2;
      --row-height: 200px;
    }
}
   */