@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
    background-image: url('../images/theme2.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}


#nav{

    width: 100%;
    height: 50px;
    margin: 2% auto;
    /* overflow: hidden; */
    /* position: fixed; */
    
}

.topnav {

    background-color: red;
    /* position: relative; */
    width: 80%;
    left: 10%;
    height: 50px;
    position: absolute;
    
  }
  
.link_decorate{
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
} 
   
 a:hover{

    color: rgb(226, 27, 27);
} 
  
.home{
    left: 0%;
    display: block;
    position: absolute;
    bottom: -15px;
}

.logo{
    left: 20%;
    display: block;
    position: absolute;
    bottom: -15px;
}

.page_element_1{
    left: 40%;
    display: block;
    position: absolute;
} 


.page_element_2{
    left: 50%;
    display: block;
    position: absolute;
} 

.account_log{
    left: 90%;
    display: block;
    position: absolute;
    bottom: -15px;
} 



#wrapper{

    width: 500px;
    margin: 150px auto;
    height: 400px;
}

div {
    display: block;
}

.card{
    width: 500px;
    height: 400px;
    font-family: 'Open Sans';
    position: relative;
    background-color: black;
    opacity: 82%;
}

.title{
    width: 400px;
    position: absolute;
    left: 47px;
    top: -40px;
    text-align: center;
    font-size: 45px;
    color: white;

}

.email_label{
    width: 400px;
    height: 55px;
    position: absolute;
    left: 50px;
    top: 100px;
    font-size: 19px;
    text-align: left;
    color:red;

}

.email{
    width: 400px;
    height: 55px;
    background: rgb(41, 41, 41);
    position: absolute;
    left: 50px;
    top: 130px;
    border-radius: 10px;
    border: none;
    background-color: aliceblue;
    font-size: 19px;
    text-align: center;
}


.password_label{
    width: 400px;
    height: 55px;
    position: absolute;
    left: 50px;
    top: 200px;
    font-size: 19px;
    text-align: left;
    color:red;
}

.password{
    width: 400px;
    height: 55px;
    background: rgb(41, 41, 41);
    position: absolute;
    left: 50px;
    top: 230px;
    border-radius: 10px;
    border: none;
    background-color: aliceblue;
    font-size: 19px;
    text-align: center;
}

.account{
    width: 500px;
    height: 55px;
    position: absolute;
    top: 290px;
    font-size: 16px;
    text-align: center;
    color:red;

}

.button{
    width: 100px;
    height: 50px;
    position: absolute;
    left: 200px;
    top: 320px;
    border: 1px;
    border-radius: 10px;
    background-color: red;
    font-weight: 600;
}



a{
    color:white;
    text-decoration: none;
}