<!DOCTYPE html>
<html  lang="pl">
    <head>

        {% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <meta name="keywords" content="">
        <meta name="description" content="">
        <link rel="stylesheet" href="{% static 'css/.css' %}" media="screen">
    </head>
	<body>
        <nav>
            <div id="nav">
                <div class="topnav">
                    <a href="#home" class="home">home</a>
                    <!-- <a href="#home" class="home"><img src="home.png"></a> -->
                    <a href="#logo" class="logo"> logo</a>
                    <!-- <a href="#logo" class="logo"> <img src="logo.png">logo</a> -->
                    <a href="#home" class="account">account</a>
                    <!-- <a href="#home" class="account"><img src="account.png">account</a> -->
                    <a href="#home" class="page_element_1">pg_element_1</a>
                    <a href="#home" class="page_element_2">pg_element_2</a>
                </div>
            </div>
        </nav>
	<div id="wrapper">
        <div class="card">
            <video autoplay muted loop class="video">
                <source src="video_1.mp4" type="video/mp4">
            </video>
            <div class="string_1">
                x
            </div>
            <div class="string_2">
                x
            </div>
        </div>
        <div class="card_2">
            <div class="string_3">
                x
                <p class="xd"> hejka tu lenka </p>
            </div>

    
        </div>
    </div>
	</body>
</html>