<!DOCTYPE html>
<html  lang="pl">
    <head>

        {% load static %}

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <meta name="keywords" content="">
        <meta name="description" content="">
        <link rel="stylesheet" href="{% static 'css/password_reset.css' %}" media="screen">
    </head>
	<body>
        <nav>
            <div id="nav">
                <div class="topnav">
                    <a href="/" class="home link_decorate"><img src="{% static 'images/home_icon.png'%}"></a>
                    <a href="#logo" class="logo link_decorate"> <img width="150px" height="150px"src="{% static 'images/sport_car.png'%}"></a>
                    <a href="/gallery" class="page_element_1 link_decorate">Cars</a>
                    <a href="/forum" class="page_element_2 link_decorate">Forum</a>
                    <a href="/accounts/register/" class="account_log link_decorate"><img width="50px" height="50px"src="{% static 'images/user_icon.png'%}"></a>
                    
            </div>
        </nav> 
	<div id="wrapper">
        <div class="card">
            <span class="title">
                <h5> Reset your password </h5>
            </span>
            <form method="post" >
                {% csrf_token %}
                <span class="email_label"> Enter your e-mail address</span> <br>
                <input type="email" class="email" name="email">
                <input type="submit" class="button" value="Reset">
            </form>
        </div>
    </div>
	</body>
</html>