<!DOCTYPE html>
<html  lang="pl">
    <head>

        {% load static %}

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <meta name="keywords" content="">
        <meta name="description" content="">
        <link rel="stylesheet" href="{% static 'css/password_reset_confirm.css' %}" media="screen">
    </head>
	<body>
        <nav>
            <div id="nav">
                <div class="topnav">
                    <a href="#home" class="home link_decorate">home</a>
                    <!-- <a href="#home" class="home"><img src="home.png"></a> -->
                    <a href="#logo" class="logo link_decorate"> logo</a>
                    <!-- <a href="#logo" class="logo"> <img src="logo.png">logo</a> -->
                    <a href="#home" class="account_log link_decorate">account</a>
                    <!-- <a href="#home" class="account"><img src="account.png">account</a> -->
                    <a href="#home" class="page_element_1 link_decorate">pg_element_1</a>
                    <a href="#home" class="page_element_2 link_decorate">pg_element_2</a>
                </div>
            </div>
        </nav>  
	<div id="wrapper">
        <div class="card">
            <span class="title">
                <h6> Change your password </h6>
            </span>
            <form method="post" >
                {% csrf_token %}
                <span class="new_password_1_label"> Enter your new password</span>
                <input type="password" class="new_password_1" name="new_password1">
                <span class="new_password_2_label"> Repeat new password </span>
                <input type="password" class="new_password_2" name="new_password2">
                <input type="submit" class="button" value="Change">
            </form>
        </div>
    </div>
	</body>
</html>