<!DOCTYPE html>
<html  lang="pl">
    <head>

        {% load static %}

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <meta name="keywords" content="">
        <meta name="description" content="">
        <link rel="stylesheet" href="{% static 'css/password_reset_done.css' %}" media="screen">
    </head>
	<body>
        <nav>
            <div id="nav">
                <div class="topnav">
                    <a href="/" class="home link_decorate"><img src="{% static 'images/home_icon.png'%}"></a>
                    <a href="#logo" class="logo link_decorate"> <img width="150px" height="150px"src="{% static 'images/sport_car.png'%}"></a>
                    <a href="/gallery" class="page_element_1 link_decorate">Cars</a>
                    <a href="/forum" class="page_element_2 link_decorate">Forum</a>
                    <a href="/account" class="account_log link_decorate"><img width="50px" height="50px"src="{% static 'images/user_icon.png'%}"></a>

                </div>
            </div>
        </nav> 
	<div id="wrapper">
        <div class="card">
            <span class="title">
                <h5> Password reset sent </h5>
            </span>
                <span class="message"> We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
                    <br><br>
                    If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</span>
        </div>
    </div>
	</body>
</html>