<!DOCTYPE html>
<html  lang="pl">
    <head>

        {% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <meta name="keywords" content="">
        <meta name="description" content="">
        <link rel="stylesheet" href="{% static 'css/password_reset_complete.css' %}" media="screen">
    </head>
	<body>
        <nav>
            <div id="nav">
                <div class="topnav">
                    <a href="#home" class="home link_decorate">home</a>
                    <!-- <a href="#home" class="home"><img src="home.png"></a> -->
                    <a href="#logo" class="logo link_decorate"> logo</a>
                    <!-- <a href="#logo" class="logo"> <img src="logo.png">logo</a> -->
                    <a href="#home" class="account_log link_decorate">account</a>
                    <!-- <a href="#home" class="account"><img src="account.png">account</a> -->
                    <a href="#home" class="page_element_1 link_decorate">pg_element_1</a>
                    <a href="#home" class="page_element_2 link_decorate">pg_element_2</a>
                </div>
            </div>
        </nav>        
	<div id="wrapper">
        <div class="card">
            <span class="title">
                <h5> Password reset complete </h5>
            </span>
                <span class="message"> Your password has been set. You may go ahead and log in now.
                    <br>
                    <br>
                    click here 
                    <i><b><a href=""> Log in</a></b></i>
                </span>
        </div>
    </div>
	</body>
</html>